too-many-cooks/Scenes/Test/ProtoArt/.DS_Store
too-many-cooks/Scenes/Intro Cutscene/.DS_Store
too-many-cooks/Scenes/Tavern/Art/.DS_Store
too-many-cooks/Scenes/Tavern/.DS_Store
too-many-cooks/Scenes/Tavern/.DS_Store
